@model Tsp.Sigescom.Modelo.Entidades.ComprobantesModel.GuiaDeRemision

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <style>
        .supertitulo {
            font-weight: bold;
            font-size: 5.4mm !important;
        }

        .titulo {
            font-weight: bolder;
            font-size: 4.5mm;
        }

        .subtitulo {
            font-weight: bolder;
            font-size: 4mm;
        }

        .texto {
            font-size: 3.1mm !important;
        }

        .texto-medium {
            font-size: 2.9mm;
        }

        .texto-mini {
            font-size: 2.7mm;
        }

        .negrita {
            font-weight: bolder;
        }

        .centrado {
            text-align: center;
        }

        .importe {
            text-align: right;
        }

        .sinespacios {
            margin: 0px;
            padding: 0px;
        }

        .sinmargen {
            margin: 0;
        }

        .margen5 {
            margin: 5px;
        }

        .titulo .centrado .importe .texto {
            font-family: MS Gothic;
            font-weight: lighter;
        }

        .contorno {
            border: solid;
        }

        .contorno_fino {
            border: solid;
            border-width: thin;
        }

        .borde_colorido {
            border-color: dodgerblue;
        }

        th, td {
            padding: 1mm;
            line-height: 1.2;
        }

        .contenedor-comprobante {
            position: relative;
            z-index: 1;
        }

        .marca-agua {
            position: absolute;
            z-index: -1;
            font-size: 4em;
            font-family: Arial;
            color: white;
            text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: rotate(-60deg)
        }

        body.receipt .sheet {
            width: 200mm;
            height: 297mm;
        }
        /*  sheet size */
        @@page {
            size: 200mm 297mm;
        }
        /* output size */
        @@media print {
            body.receipt {
                width: 200mm
            }
        }
    </style>
    <title></title>
</head>
<body class="texto">
    <section class="sheet " style="font-family:Consolas">
        <div class="sheet texto">
            <div class="@(@Model.EsInvalidada ? "contenedor-comprobante" : "")">
                @* Datos Emisor *@
                <div width="100%">
                    <table width="100%">
                        <tr>
                            <td width="30%">
                                @if (Model.MostrarLogo)
                                {
                                    <div class="centrado">
                                        <img style="max-height:120px; max-width:230px;" src=@Model.Emisor.LogoSrc alt="Alternate Text" />
                                    </div>
                                }
                            </td>
                            <td width="45%">
                                <div class="centrado">
                                    <div class="titulo">@Model.Emisor.NombreComercial </div>
                                    <div>@Model.Emisor.RazonSocial</div>
                                    <div>@Model.Emisor.Direccion</div>
                                    @if (Model.Emisor.EsSucursal)
                                    {
                                        <div class="negrita">SUC: @Model.Emisor.NombreSucursal</div>
                                        <div class="texto-medium">@Model.Emisor.DireccionSucursal</div>

                                    }
                                    <div>@Model.Emisor.OtrosDatosContacto</div>
                                </div>
                            </td>
                            <td width="25%" class="contorno borde_colorido">
                                <div class="subtitulo centrado">RUC @Model.Emisor.NumeroDocumentoIdentidad</div>
                                @* Comprobante *@
                                <div class="subtitulo centrado">
                                    <div class="subtitulo">@Model.NombreTipo </div>
                                    <div>@(Model.Serie + "-" + Model.Numero)</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="centrado">@Model.Emisor.Publicidad</div>
                            </td>
                        </tr>
                    </table>
                </div>
                @* Fecha emisión *@
                @* Receptor  *@
                <div>
                    <table width="100%">
                        <tr>
                            <td width="100%" colspan="2">
                                <div>Fecha de emisión:@Model.FechaEmision.ToString("dd/MM/yyyy hh:mm tt")</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" colspan="2">
                                <div>Fecha de inicio de traslado:@Model.FechaInicioTraslado.ToString("dd/MM/yyyy")</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="60%">
                                <div>@(@Model.EtiquetaTercero + ": " + @Model.Receptor.RazonSocial)</div>
                            </td>
                            <td width="40%">
                                <div>@(Model.Receptor.TipoDocumentoIdentidad + " " + Model.Receptor.DocumentoIdentidad)</div>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" colspan="2">
                                <div>Dirección: @(Model.Receptor.Direccion)</div>
                            </td>
                        </tr>
                        @if (!string.IsNullOrEmpty(Model.DocumentoReferencia))
                        {
                            <tr>
                                <td width="100%" colspan="2">
                                    <div>Referencia: @(Model.DocumentoReferencia)</div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                @if (Model.Transportista != null)
                {
                    @* Transportista  *@
                    <hr class="sinmargen borde_colorido">
                    <div>
                        <table width="100%">
                            <tr>
                                <td width="50%">
                                    <div>Transportista: @Model.Transportista.RazonSocial </div>
                                </td>
                                <td width="50%">
                                    <div>@(Model.Transportista.TipoDocumentoIdentidad + " " + Model.Transportista.DocumentoIdentidad)</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                }
                @if (Model.Conductor != null)
                {
                    @* Conductor *@
                    <hr class="sinmargen borde_colorido">
                    <div>
                        <table width="100%">
                            <tr>
                                <td width="50%">
                                    <div>Conductor: @(Model.Conductor.Nombres + " " + Model.Conductor.Apellidos) </div>
                                </td>
                                <td width="50%">
                                    <div>N° Licencia: @Model.Conductor.NumeroLicencia </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="50%">
                                    <div>@(Model.Conductor.TipoDocumentoIdentidad + " " + Model.Conductor.DocumentoIdentidad)</div>
                                </td>
                                <td width="50%">
                                    <div>Placa: @Model.Conductor.Placa </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                }
                @* Datos de Traslado *@
                <hr class="sinmargen borde_colorido">
                <div>
                    <table width="100%">
                        <tr>
                            <td width="50%">
                                <div>Modalidad: @Model.ModalidadTransporte </div>
                            </td>
                            <td width="50%">
                                <div>Motivo: @Model.MotivoTraslado </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%">
                                <div>Peso Bruto Total (KGM): @Model.PesoBrutoTotal </div>
                            </td>
                            <td width="50%">
                                <div>Número de Bultos: @Model.NumeroBultos </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" colspan="2">
                                <div>Dirección de origen: @Model.DireccionOrigen </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" colspan="2">
                                <div>Dirección de destino: @Model.DireccionDestino </div>
                            </td>
                        </tr>
                    </table>
                </div>
                @* Detalles *@
                <div width="100%">
                    <table width="100%">
                        <tr>
                            <th class="contorno_fino borde_colorido">Cant.</th>
                            <th class="contorno_fino borde_colorido">Concepto</th>
                        </tr>
                        @foreach (var item in Model.Detalles)
                        {
                            <tr width="100%" style="padding:0; margin:0">
                                <td width="20%" class="importe">@string.Format("{0:N" + Model.NumeroDecimalesEnCantidad + "}", item.Cantidad)</td>
                                <td width="80%"> @item.Concepto </td>

                            </tr>
                            <tr width="100%">
                                <td style=" width:100%" colspan=4>
                                    <table width="100%" cellpadding="0" style="margin:0">
                                        @for (int i = 0; i < Math.Ceiling((decimal)item.CaracteristicasComunes.Count / 2); i += 2)
                                        {
                                            <tr width="100%" class="sinmargen">
                                                <td width="10%"></td>
                                                <td style=" width:32.5%">@(item.CaracteristicasComunes[i].NombreCaracteristica + " " + item.CaracteristicasComunes[i].Valor) </td>
                                                <td style=" width:32.5%">@(i + 1 < item.CaracteristicasComunes.Count ? (item.CaracteristicasComunes[i + 1].NombreCaracteristica + " " + item.CaracteristicasComunes[i + 1].Valor) : "")</td>
                                                <td width="10%"></td>
                                                <td width="15%"></td>
                                            </tr>
                                        }
                                        @for (int i = 0; i < Math.Ceiling((decimal)item.CaracteristicasPropias.Count / 2); i += 2)
                                        {
                                            <tr width="100%" class="sinmargen">
                                                <td width="10%"></td>
                                                <td style=" width:32.5%">@(item.CaracteristicasPropias[i].Nombre + " " + item.CaracteristicasPropias[i].Valor)</td>
                                                <td style=" width:32.5%">@(i + 1 < item.CaracteristicasComunes.Count ? (item.CaracteristicasPropias[i + 1].Nombre + " " + item.CaracteristicasPropias[i + 1].Valor) : "")</td>
                                                <td width="10%"></td>
                                                <td width="15%"></td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                @* Resumen *@
                <div>
                    <table width="100%">
                        <tr width="100%">
                            <td width="20%">
                                <div class="centrado">
                                    <img height="150" src=@Model.CodigoQRSrc alt="Alternate Text" />
                                </div>
                            </td>
                            <td width="80%">
                                <div class="centrado">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div>Observaciones: @Model.Observacion</div>
                </div>
                <hr class="margen5 borde_colorido">
                @* Mensajes *@
                <div class="centrado">
                    @if (Model.MostrarMensajeAmazonia)
                    {
                        <div>@Model.MensajeAmazonia</div>
                    }
                    <div>Representación impresa de la Guía de Remisión Electrónica</div>
                    @*<div>Autorizado mediante resolución: @Model.ResolucionAutorizacionSunat</div>*@
                    <div>@Model.MensajeNegocio</div>
                    <div class="centrado texto-mini">Sistema de Gestión Comercial | Siges |www.siges.tsolperu.com</div>
                </div>
                @if (Model.EsInvalidada)
                {
                    <div class="marca-agua">
                        <p class="texto-marca-agua">INVALIDADO</p>
                    </div>
                }
            </div>
        </div>
    </section>
</body>
</html>


