@{
    ViewBag.Title = "Registro de Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src=@Url.Content("~/Scripts/controller/compra/compraController.js")></script>
    <script src=@Url.Content("~/Scripts/controller/proveedor/proveedorController.js")></script>
    <script src=@Url.Content("~/Scripts/controller/producto/consultarMercaderiaController.js")></script>
    <script src=@Url.Content("~/Scripts/controller/concepto/conceptoController.js")></script>
    <script src=@Url.Content("~/Scripts/controller/caracteristica/caracteristica_Controller.js")></script>
    <script src=@Url.Content("~/Scripts/controller/concepto/selectorConceptoComercial/selectorConceptoComercial.js")></script>
    <script src=@Url.Content("~/Scripts/controller/actorComercial/selectorActorComercial/selectorActorComercial.js")></script>
    <script src=@Url.Content("~/Scripts/controller/actorComercial/registradorActorComercial/registradorActorComercial.js")></script>
    <script>
        var tasaIGV = @ViewBag.tasaIGV;
        var idTipoActorPersonaNatural =@ViewBag.idTipoActorPersonaNatural;
        var idTipoActorPersonaJuridica =@ViewBag.idTipoActorPersonaJuridica;
        var aplicaLeyAmazonia = @ViewBag.aplicaLeyAmazonia.ToString().ToLower();
        var comprasDestinadasAPorDefecto = @ViewBag.comprasDestinadasAPorDefecto;
        var idTipoActorPersonaJuridica = @ViewBag.idTipoActorPersonaJuridica;
        var realizaCompraAlCredito = @ViewBag.realizaCompraAlCredito.ToString().ToLower();
        var permitirLoteEnDetalleDeCompra = @ViewBag.permitirLoteEnDetalleDeCompra.ToString().ToLower();
        var permitirRegistroEnDetalleDeCompra = @ViewBag.permitirRegistroEnDetalleDeCompra.ToString().ToLower();
        var permitirVencimientoEnDetalleDeCompra = @ViewBag.permitirVencimientoEnDetalleDeCompra.ToString().ToLower();
        var idProveedorGenerico = @ViewBag.idProveedorGenerico;
        var idTipoPersonaSeleccionadaPorDefecto = @ViewBag.idTipoPersonaSeleccionadaPorDefecto;
        var idTipoDocumentoSeleccionadaConTipoPersonaNatural = @ViewBag.idTipoDocumentoSeleccionadaConTipoPersonaNatural;
        var idTipoDocumentoSeleccionadaConTipoPersonaJuridica = @ViewBag.idTipoDocumentoSeleccionadaConTipoPersonaJuridica;
        var idTipoDocumentoIdentidadDni = @ViewBag.idTipoDocumentoIdentidadDni;
        var idTipoDocumentoIdentidadRuc = @ViewBag.idTipoDocumentoIdentidadRuc;
        var fechaActual = '@ViewBag.fechaActual';
        var permitirRegistroFlete = @ViewBag.permitirRegistroFlete.ToString().ToLower();
        var idUbigeoSeleccionadoPorDefecto = @ViewBag.idUbigeoSeleccionadoPorDefecto;
        var idUbigeoNoEspecificado = @ViewBag.idUbigeoNoEspecificado;
        var permitirMultipleIngresoDelMismoDetalle = @ViewBag.permitirMultipleIngresoDelMismoDetalle.ToString().ToLower();
        var valorPrecioVentaPorDefectoQueNoSeDebeGuardar = @ViewBag.ValorPrecioVentaPorDefectoQueNoSeDebeGuardar;
        var idEstablecimientoPorDefecto = @ViewBag.idEstablecimientoPorDefecto;
        var idCentroDeAtencionPorDefecto = @ViewBag.idCentroDeAtencionPorDefecto;
        var idPresentacionPorDefecto = @ViewBag.IdPresentacionPorDefecto;
        var idUnidadMedidaPorDefecto = @ViewBag.IdUnidadMedidaPorDefecto;
        var idPresentacionAOcultarEnNombreConceptoNegocio = @ViewBag.IdPresentacionAOcultarEnNombreConceptoNegocio;
        var idUnidadDeMedidaComercialAOcultarEnNombreConceptoNegocio = @ViewBag.IdUnidadDeMedidaComercialAOcultarEnNombreConceptoNegocio;
        var numeroDecimalesEnCantidad = @ViewBag.numeroDecimalesEnCantidad;
        var numeroDecimalesEnPrecio = @ViewBag.numeroDecimalesEnPrecio;
        var mostrarBuscadorCodigoBarra = @ViewBag.mostrarBuscadorCodigoBarra.ToString().ToLower();
        var modoSeleccionConcepto = @ViewBag.modoDeSeleccionDeConcepto;
        var modoSeleccionTipoFamilia = @ViewBag.modoSeleccionTipoFamilia;
        var permitirCambioPrecio = @ViewBag.permitirCambioPrecio.ToString().ToLower();
        var minimoCaracteresBuscarConcepto = @ViewBag.minimoCaracteresBuscarConcepto;
        var modoDeSeleccionTipoFamiliaEnRegistroFamilia = @ViewBag.modoDeSeleccionTipoFamiliaEnRegistroFamilia;
        var mostrarCampoCodigoAlRegistrarConcepto = @ViewBag.mostrarCampoCodigoAlRegistrarConcepto.ToString().ToLower();
        var mostrarCampoCodigoDigemidAlRegistrarConcepto = @ViewBag.mostrarCampoCodigoDigemidAlRegistrarConcepto.ToString().ToLower();
        var modulosAdicionales = @(Html.Raw(Json.Encode(@ViewBag.modulosAdicionales)));
        var idRolProveedor = @ViewBag.idRolProveedor;
        var tiempoEsperaBusquedaSelector = @ViewBag.tiempoEsperaBusquedaSelector;
        var minimoCaracteresBuscarActorComercial = @ViewBag.minimoCaracteresBuscarActorComercial;
        var idDetalleMaestroCatalogoDocumentoFactura = @ViewBag.idDetalleMaestroCatalogoDocumentoFactura;
        var mascaraDeVisualizacionValidacionRegistroProveedor = '@ViewBag.mascaraDeVisualizacionValidacionRegistroProveedor';
        var informacionSelectorConcepto = @ViewBag.informacionSelectorConcepto;
        var permitirSeleccionarGrupoProveedor = @ViewBag.permitirSeleccionarGrupoProveedor.ToString().ToLower();

    </script>
}
<div class="col-md-12" id="modelo" ng-controller="compraController" ng-init="inicializar()">
    <div class="row">
        <div class="col-md-12">
            <div class="color-palette-set">
                <div class="bg-green color-palette">REGISTRO DE COMPRA</div>
            </div>
        </div>
        @Html.Partial("_RegistroCompraPartial")
        <div class="col-md-12" style="margin-top:15px">
            <div class="pull-right">
                <button title="GUARDAR COMPRA" class="btn btn-primary btn-md" ng-disabled="inconsistencias.length > 0" ng-click="guardar()"><span class="glyphicon glyphicon-floppy-save"></span> GUARDAR COMPRA</button>
            </div>
        </div>
        @Html.Partial("_ModalRegistroFinanciamientoPartial")
        @Html.Partial("_ModalReiniciarFinanciamiento")
        @Html.Partial("_ModalFijarPrecioDeVenta")
    </div>
</div>